{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post" class="center-align">
        <div class="input-field">
            <input autocomplete="off" autofocus name="symbol" type="text">
            <label for="symbol">Symbol</label>
        </div>
        <div class="input-field">
            <input autocomplete="off" autofocus name="shares" type="number">
            <label for="shares">Shares</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Buy</button>
    </form>
{% endblock %}
